@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    /*Paleta de Cores*/
    --1:#00f4fd;
    --2:#00c2ff;
    --3:#0077a6;
    --4:#5b0365;
    --5:#300147;
    --6:#20022b;

}


body{
    color: white;
    background-color: var(--5);
    overflow-x: hidden;
}

/* TOPO */

header{
    background-color: var(--6);
    height: 10vh;
    overflow-y: visible;
    position: relative;
    border-bottom: 2px solid var(--2);
}

.top-link{
    text-decoration: none;
    color: white;
    font-size: 1em;
    text-shadow: 0px 2px var(--6);
}

.lista-menu{
    display: none;
    background-color: var(--3);
    width: 50%;
    height: 100vh;
    position: absolute;
    text-align: center;
    padding-top: 6.5vh;
    list-style-type: none;
    z-index: 3;
}

.icones{
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.btn-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login{
    left: calc(100vw - 80px);
}

.icon-menu{
    position: absolute;
    margin-left: 1%;
    top: 50%;
    transform: translateY(-50%);
}

.icon-cross{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.3em;
}

.icon-exit{
    font-size: .1em;
}

.icon-enter{
    font-size: .8em;
}

.hamburguer{
    display: block;
    border-top: 2px solid var(--5);
    padding: 3vh 0px;
}

.hamburguer:hover{
    background-color: var(--2);
}

.ultimo{
    border-bottom: 2px solid var(--5);
}

/* MAIN */

article p{
    text-align: center;
    padding: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 2px black;
}

.main-text{
    background-color: var(--6);
}

.first{
    border-top: 2px solid var(--2);
}

.btn-apoio{
    border: 2px solid var(--2);
    padding: 2px 12px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: var(--5);
}

.btn-apoio:hover{
    background-color: #5b0365;
}

.btn-apoio a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

/* FOOTER */

footer{
    background-color: var(--6);
    text-align: center;
    border-top:  2px solid var(--2);
}

.text-footer{
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
}

.final{
    position: relative;
}

.sociais{
    margin: 0px auto;
    transform: translateY(50%);
    list-style-type: none;
}

.sociais li{
    margin-left: 15px;
    display: inline;
}

.link_sociais{
    text-decoration: none;
    color: white;
}

.sociais{
    font-size: 1.3em;
}

.sociais a:hover{
    color: var(--2);
}

/*SLIDES*/

.slider{
    display: flex;
    width: 100vw;
    height: 20vh;
    position: relative;
    margin: 15px auto;
    overflow: hidden;
}

.next,.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: white;
    z-index: 2;
}

.next:hover,.prev:hover{
    cursor: pointer;
}

.next{
    right: 17%;
}

.prev{
    left: 17%;
}

.slide img{
    border: 2px solid var(--1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 100%;
    height: 100%;
    width: 100%;
}

.slide{
    display: inline-block;
    position: relative;
    height: 90%;
    width: 30%;
    margin: calc(20vh * 0.5) calc(100vw * 0.01) 0px calc(100vw * 0.01); 
    transform: translateY(-50%);
}

.text-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 0.9em;
}

.primeiro{
    margin-left: 0;
    transform: translate(-50%,-50%);
}

.terceiro{
    margin-right: 0;
    transform: translate(50%,-50%);
}

.segundo{
    width: 50%;
}

.primeiro p{
    display: none;
}

.terceiro p{
    display: none;
}

.logo{
    width: 40px;
    height: 50px;
    position: absolute;
    right: 50vw;
    transform: translateX(50%);
}

.texto-logo1{
    font-family: 'Henny Penny';
    font-size: 1.2em;
    position: absolute;
    right: 50vw;
    transform: translateX(-6px);
}

.texto-logo2{
    font-family: 'Henny Penny';
    font-size: 1.2em;
    position: absolute;
    right: 50vw;
    transform: translateX(42px);
}

.nome-jogo{
    font-family: 'Henny Penny';
}

.radios{
    display: none;
}

/* MEDIA FEATURES */


@media only screen and (min-width: 395px){
    .text-slide{
        font-size: 1em;
    }
}

@media only screen and (min-width: 439px){
    .text-slide{
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 483px){
    .text-slide{
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 527px){
    .text-slide{
        font-size: 1.3em;
    }
}

@media only screen and  (min-width: 512px) and (max-width: 750px){
    .primeiro,.terceiro{
        display: none;
    }

    .slide{
        width: 100%;
        height: 90%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .text-slide{
        left: 50%;
        transform: translateX(-50%);
    }

    .segundo{
        width: 100%;
    }

    .slide img{
        border-left: none;
        border-right: none;
    }

    .slider{
        height: 60vh;
    }

    .next{
        right: 5%;
    }
    .prev{
        left: 5%;
    }

    .radios{
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 85%;
    }

    .radios div{
        float: right;
        width: 10px;
        height: 10px;
        margin: 0px 5px;
        border-radius: 50%;
        background-color: #ccc;
    }
}

@media only screen and  (min-width: 751px) /*and (max-width: 750px)*/{

.icon-menu{
    display: none!important;
}

.texto-logo1{
    left: 20px;
    font-size: 2em;
}

.logo{
    left: calc(15px + 2em);
    width: 50px;
    height: 70px;
}

.texto-logo2{
    left: 70px;
    font-size: 2em;
}

.slide{
    height: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
}

.primeiro{
    margin-left: 0;
    width: 30%;
}

.segundo{
    width: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.terceiro{
    margin-right: 0;
    width: 30%;
    right: 0;
}

.text-slide{
    left: 50%;
    transform: translateX(-50%);
}


.slider{
    height: 60vh;
}

.next{
    right: 5%;
}
.prev{
    left: 5%;
}

.login{
    left: calc(100vw - 130px);
}

.top-link{
    font-size: 1.3em;
}

header{
    height: 15vh;
}

.next{
    right: 17%;
}
.prev{
    left: 17%;
}

}

@media only screen and (min-width: 1000px) {
    .top-link{
        font-size: 1.4em;
    }

    .btn-sair{
        font-size: 0.1em;
    }
}
