@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    /*Paleta de Cores*/
    --1:#00f4fd;
    --2:#00c2ff;
    --3:#0077a6;
    --4:#5b0365;
    --5:#300147;
    --6:#20022b;

}

body{
    color: white;
    background-color: var(--5);
}

/* TOPO */

header{
    background-color: var(--6);
    height: 10vh;
    overflow-y: visible;
    position: relative;
    border-bottom: 2px solid var(--2);
}

.top-link{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    text-shadow: 0px 2px var(--6);
}

.lista-menu{
    display: none;
    background-color: var(--3);
    width: 50%;
    height: 100vh;
    position: relative;
    text-align: center;
    padding-top: 6.5vh;
}

.icones{
    color: white;
    font-size: 2em;
    cursor: pointer;
}

nav{

}

.btn-nav{
    position: absolute;
    left: calc(100vw - 100px);
    top: 50%;
    transform: translateY(-50%);
}

.icon-menu{
    position: absolute;
    margin-left: 1%;
    top: 50%;
    transform: translateY(-50%);
}

.icon-cross{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.3em;
}

.icon-enter{
    font-size: .8em;
}

.hamburguer{
    display: block;
    border-top: 2px solid var(--5);
    padding: 3vh 0px;
}

.hamburguer:hover{
    background-color: var(--2);
}

.ultimo{
    border-bottom: 2px solid var(--5);
}

article{
    text-align: center;
    padding: 40px;
}

footer{
    background-color: var(--6);
    height: 10vh;
    text-align: center;
    border-top:  2px solid var(--2);;
}

.text-footer{
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}